if SHIELD_KOMFEE_LEFT

config ZMK_KEYBOARD_NAME
    default "Komfee"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_KOMFEE_LEFT || SHIELD_KOMFEE_RIGHT

config ZMK_SPLIT
    default y

endif
